.warning-color {
    color: $warning
}

.screen-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        background-color: white;
        border: 2px solid $gray;
        width: 15%;
        height: 15%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-rows: 3fr 3fr 1fr 3fr;
        text-align: center;

        .warning-text {
            color: $warning;

            &:is(.hidden) {
                visibility: hidden;
            }
        }

        .title {
            margin: 0;
        }
        
        .input {
            font-size: 24px;
            text-align: center;
            
            &:not(.warning-color) {
                color: $accept-dark;
            }
        }

        .btns {
            display: flex;
            justify-content: space-around;

            input {
                cursor: pointer;
                border: none;
                padding: 10px 30px;
                transition: .3s ease-in-out;

                &:hover {
                    filter: brightness(90%);
                }
            }

            .cancel {
                background-color: $warning;
                color: white;
            }

            .accept {
                background-color: $gray;

                &:is(.active) {
                    background-color: $accept;
                }
            }
        }
    }
}