$button: #2c2c2b;
$button-hover: #4595f7;
$teal: #54e3bd;
$gold: #fcd272;
$dark-blue: #4595F7;
$light-blue: #a0c8fa;
$orange: #df8d7f;
$header-background: #2f2e2e;
$background: #232323;
$link-hover: #81cdf7;