.apps {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;

    .app-wrapper {
        width: 100px;
        text-align: center;
        user-select: none;
        cursor: pointer;
        padding: 10px;
        border: 2px solid transparent;
        margin-left: 50px;
        margin-right: 50px;

        img {
            width: 100%;
            -webkit-user-drag: none;
        }

        h2 {
            color: white;
            -webkit-text-stroke: 1px black;
            font-family: sans-serif;
            margin-top: .3em;
            margin-bottom: .3em;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            border-color: rgba(255, 255, 255, 0.5);
        }
    }
}