@import "./variables.scss";
@import "./mixins.scss";
@import "./window.scss";
@import "./actions-bar.scss";
@import "./action-input.scss";
@import "./switches.scss";

& {
    font-family: sans-serif;
    background-image: url("https://picsum.photos/1920/1200");
    @include full-page();
    background-color: violet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @import "./desktop-apps.scss";
}