& {
    .header {
        text-align: center;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
    }

    .nav-link-wrapper {
        margin: 50px;
    }
}